.container {
    width: 100%;

    display: none;
    /* display: flex; */
    justify-content: space-between;

    height: auto;

}



/* Red color for mobile devices */
@media only screen and (max-width: 599px) {
    .mobile {
        display: block;
    }

    .menuContainer {
        position: absolute;
        z-index: 999;
        width: 100%;

        /* Initially position the menu below the header */


        /* Position it below the header */
        background-color: white;
        /* left: 0; */
        margin: 0 auto;
        /* border-bottom: 1px solid #ccc;    */
        transition: top 0.3s ease;
        /* Add transition for sliding effect */
    }

    .menuContainer.visible {
        top: calc(100% - 100px);
        /* Slide the menu to the top of the header */
    }



    .menu {
        background-color: white;
        /* border: 1px solid #ccc; */
        z-index: 999;
    }

    .menuList {
        /* background: aquamarine; */
        width: 100%;
        flex-direction: row;
        list-style-type: none;
        text-align: center;
        font-size: 16px;
        padding: 0px;


    }

    .menuList li {
        border-bottom: 1px solid #ccc;
    }

    .menuList li:hover {
        background-color: gray;
        font-weight: bold;
    }

    .headerSection {
        background-color: white;
        height: auto;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #E5E5E5;
        padding: 0px;
        box-sizing: border-box;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    .headerTopMain {
        width: 100%;
        background-color: black;
    }

    .headerTop {
        margin: 0 auto;
        height: 32px;
        color: #EB4C6B;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }



    .headerMiddle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .headerLeft,
    .headerCenter,
    .headerRight {
        flex: 1;
    }

    .headerLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .headerCenter {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .headerCenter h1 {
        font-size: 22px;
        font-weight: 800;
        line-height: 43.57px;
    }

    .headerRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerIcons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerBottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .headerBottom ul {
        list-style-type: none;
        padding: 0;
    }

    .headerBottom li {
        display: inline-block;
        margin: 0 20px;
        justify-content: flex-start;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    .headerBottom li:last-child {
        margin-right: 0;
    }
}

/* Yellow color for tablets */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .tablet {
        display: block;
    }

    .headerSection {
        background-color: white;
        height: 180px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #E5E5E5;
        padding: 0px;
        box-sizing: border-box;
    }

    .headerTopMain {
        width: 100%;
        background-color: black;
    }

    .headerTop {
        margin: 0 auto;
        height: 32px;
        color: #EB4C6B;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }

    .headerMiddle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .headerLeft,
    .headerCenter,
    .headerRight {
        flex: 1;
    }

    .headerLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .headerCenter {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .headerCenter h1 {
        font-size: 26px;
        font-weight: 800;
        line-height: 43.57px;
    }

    .headerRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerIcons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerBottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .headerBottom ul {
        list-style-type: none;
        padding: 0;
    }

    .headerBottom li:hover {
        color: gray;
    }

    .headerBottom li {
        display: inline-block;
        margin: 0 20px;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    .headerBottom li:last-child {
        margin-right: 0;
    }
}

/* Blue color for desktops */
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .desktop {
        display: block;
    }

    .headerSection {
        background-color: white;
        height: 220px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #E5E5E5;
        padding: 0px;
        box-sizing: border-box;
    }

    .headerTopMain {
        width: 100%;
        background-color: black;
    }

    .headerTop {
        margin: 0 auto;
        height: 32px;
        color: #EB4C6B;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }

    .headerMiddle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .headerLeft,
    .headerCenter,
    .headerRight {
        flex: 1;
    }

    .headerLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .headerCenter {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .headerCenter h1 {
        font-size: 36px;
        font-weight: 800;
        line-height: 43.57px;
    }

    .headerRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerIcons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerBottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .headerBottom ul {
        list-style-type: none;
        padding: 0;
    }

    .headerBottom li {
        display: inline-block;
        margin: 0 20px;
        justify-content: flex-start;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        cursor: pointer;
    }

    .headerBottom li:last-child {
        margin-right: 0;
    }

    .headerBottom li:hover {
        color: gray;
    }

}

/* Pink color for laptops */
@media only screen and (min-width: 1280px) {
    .laptop {
        display: block;
    }

    .headerSection {
        background-color: white;
        height: 220px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #E5E5E5;
        padding: 0px;
        box-sizing: border-box;
    }

    .headerTopMain {
        width: 100%;
        background-color: black;
    }

    .headerTop {
        margin: 0 auto;
        height: 32px;
        color: #EB4C6B;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }

    .headerMiddle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .headerLeft,
    .headerCenter,
    .headerRight {
        flex: 1;
    }

    .headerLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .headerCenter {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .headerCenter h1 {
        font-size: 36px;
        font-weight: 800;
        line-height: 43.57px;
    }

    .headerRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerIcons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .headerBottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .headerBottom ul {
        list-style-type: none;
        padding: 0;
    }

    .headerBottom li {
        display: inline-block;
        margin: 0 20px;
        justify-content: flex-start;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        cursor: pointer;
    }

    .headerBottom li:last-child {
        margin-right: 0;
    }

    .headerBottom li:hover {
        color: gray;
    }
}